<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini News</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
</head>

<body>
    <header class="header">
        <div class="header__logo">
            <span style="color:#ffffff;font-size:xx-large;">M</span>
            <span style="color:#0c0546">I</span>
            <span style="color:#FF9966">N</span>
            <span style="color:#f3b50c">I</span>
            <span style="color:#ffffff;font-size:xx-large;">N</span>
            <span style="color:#8a280a">E</span>
            <span style="color:#c8b718">W</span>
            <span style="color:#FF0066">S</span>
        </div>
        <div class="header__logoimg">
            <img src="/img/logo1.png">
        </div>
        <!-- <div class="header__search">Search</div> -->
        <div class="nav_bar">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="india.ejs">India</a></li>
                <li><a href="tech.ejs">Tech</a></li>
                <li><a href="world.ejs">World</a></li>
                <li><a href="sports.ejs">Sports</a></li>
                <li><a href="entertainment.ejs">Entertainment</a></li>
            </ul>
        </div>
    </header>

    <!-- Loader test area start -->
    <!-- Loader test area end-->


    <div class="wrapper">
        <div class="news">
            <% if(articles !=null){ %>
                <% articles.forEach(function(article, index){ %>
                    <a href="<%- article.link %>" class="news__card">
                        <img src="<%- article.img_link %>" alt="<%- article.head %>">
                        <h2>
                            <%- article.head %>
                        </h2>
                        <p>
                            <%- article.body %>
                        </p>
                    </a>
                    <% }) %>
                        <% } else{ %>
                            NO POSTS FOUND
                            <% } %>
        </div>
    </div>


</body>

</html>